/* MTM1544 Week 3 */

/* setting the box-sizing property to border-box for all elements */
* {
    box-sizing: border-box;
}

/* paragraph classes: intro, ridge, summit-top, summit-bottom */
/* box model properties */

/* green color palette #4d8b31 */
/* color palette made with hsl(101 48% 37%) */
:root {
    --color-37: hsl(101 48% 37%);
    --color-57: hsl(101 48% 57%);
    --color-77: hsl(101 48% 77%);
    --color-97: hsl(101 48% 97%);
    /* color palette made with oklh */
    /* oklch is a much more natural progression than hsl; each step looks more evenly spaced and visually pleasing */
    --color-o90: oklch(0.9749 0.1393 137.32);
    --color-o70: oklch(0.7749 0.1393 137.32);
    --color-o50: oklch(0.5749 0.1393 137.32);
    --color-o30: oklch(0.3749 0.1393 137.32);
    /* site color palette */
    --main-color: #FF8427;
    --secondary-color: #FFC800;
    --accent-color: #4d8b31;
    --dark: #1E212B;
}

/* colour & typography */
/* setting the font family for the entire page */
body {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.125rem;
    line-height: 1.6;
}

/* changed the background colour */
body{
    background-color: var(--dark);
}

/* features Google Font Kalnia Glaze */
/* changed h1 colour to orange*/
h1{
    color: var(--main-color);
    font-family: 'Kalnia Glaze', Georgia, serif;
    font-size: 3.5rem;
    line-height: 1.15;
    text-wrap: balance;
}

/*changed h2 colour to yellow */
h2{
    color: var(--secondary-color);
    font-size: 1.75rem;
    line-height: 1.3;
    text-wrap: balance;
}

/* changed paragraph text color to white */
p{
    color:#fff; 
    margin-top: 40px;
}

/* changed text color of intro paragraph; font size determined from Week 1 */
.intro{
    color: var(--color-o90); 
    font-size:16px;
}

#before-you-go{
    color: var(--main-color);
    margin-bottom: 40px;
}

/* interactive color changes */
.button {
  color: #fff;
  background-color: var(--color-o30);
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-bottom: 40px;
}
.button:hover {
  background-color: color-mix(in oklch, var(--color-o30) 85%, black);
  border: 2px solid var(--color-o90);
  color: var(--color-o90);
  margin-bottom: 40px;
}

/* box properties */

.ridge {
    color: #fff;
    background-color: var(--color-o30);
    border: 4px solid var(--secondary-color);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    line-height: 150%;
}

#summit-top{
    margin-bottom: 20px;
    line-height: 150%;
}

#summit-bottom{
    margin-top: 40px;
    line-height: 150%;
}

#mountain-image{
    aspect-ratio: 16/9;
    width: 100%;
    margin-top: 20px;
}